<div class="show">

    <section >
      <div class="wrapper">
      
      <nav>
          <a routerLink="/home" routerLinkActive="active-link">Home</a>
          <a routerLink="/employees">Employees</a>
          <a routerLink="/upload">Upload</a>
        </nav>
        <section (click)="logout()" class="empresa-container">
            <span class="material-icons">
              person
              </span>
              <p> Cerrar Sesión</p>
          </section>
    </div>
    
    </section>
   
  </div>
  
