<app-header></app-header>
<div (scroll)="doSomethingOnInternalScroll($event)" class="home_container" style="overflow: auto;">
  <section class="home_subcontainer">
    <h3 class="title_home">Ahora puedes ver a los empleados</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi molestias illo dolores ipsam, ab nobis suscipit culpa saepe hic, ducimus voluptates ea nihil dicta recusandae aperiam explicabo, minima illum nisi?
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores voluptates at numquam adipisci modi cupiditate veritatis unde, natus quo obcaecati qui saepe quia alias. Aperiam expedita odio omnis animi.</p>
 
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi molestias illo dolores ipsam, ab nobis suscipit culpa saepe hic, ducimus voluptates ea nihil dicta recusandae aperiam explicabo, minima illum nisi?
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores voluptates at numquam adipisci modi cupiditate veritatis unde, natus quo obcaecati qui saepe quia alias. Aperiam expedita odio omnis animi.</p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi molestias illo dolores ipsam, ab nobis suscipit culpa saepe hic, ducimus voluptates ea nihil dicta recusandae aperiam explicabo, minima illum nisi?
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores voluptates at numquam adipisci modi cupiditate veritatis unde, natus quo obcaecati qui saepe quia alias. Aperiam expedita odio omnis animi.</p>
    <button class="btn_home">Obtener mas info..</button>
  </section> 
</div>